(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Atilde,
AE,
AEmacron,
B,
Bdotbelow,
Bhook,
Bstroke,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
Chook,
D,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Eopen,
Esh,
Etilde,
Eturned,
Schwa,
Ezh,
Ezhcaron,
F,
Fhook,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
Hhook,
Hturned,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Khook,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nhookleft,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odieresismacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
OE,
P,
Phook,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
V,
"Gamma-latin",
Vhook,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Whook,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Bsmall,
Gsmall,
Gsmallhook,
Hsmall,
Ismall,
Lsmall,
Nsmall,
OEsmall,
Rsmall,
Rsmallinverted,
Ysmall,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adieresismacron,
adotbelow,
agrave,
ahookabove,
"alpha-latin",
"alphaturned-latin",
amacron,
aogonek,
aring,
atilde,
aturned,
ae,
aemacron,
b,
bdotbelow,
bhook,
bidentalpercussive,
bilabialclick,
bilabialpercussive,
bmiddletilde,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
ccurl,
cdotaccent,
"chi-latin",
chook,
d,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dezh,
dhook,
dmacronbelow,
dmiddletilde,
dtail,
dzaltone,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
eopen,
eopenreversed,
eopenreversedclosed,
eopenreversedhook,
ereversed,
esh,
etilde,
eturned,
schwa,
schwahook,
ezh,
ezhcaron,
f,
fengdigraph,
fmiddletilde,
g,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
glottalstopstroke,
glottalstopstrokereversed,
gmacron,
gsingle,
gstroke,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
henghook,
hhook,
hmacronbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
jcrossedtail,
jdotlessstroke,
jdotlessstrokehook,
k,
kcaron,
kcommaaccent,
khook,
kmacronbelow,
kturned,
l,
lacute,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lezh,
lhookretroflex,
lmacronbelow,
lmiddletilde,
lsdigraph,
lslash,
lzdigraph,
m,
macute,
mdotaccent,
mdotbelow,
mhook,
mlonglegturned,
mmiddletilde,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
nhookleft,
nhookretroflex,
nmacronbelow,
nmiddletilde,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odieresismacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
oe,
p,
"phi-latin",
phook,
thorn,
pmiddletilde,
q,
qhook,
qhooktail,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdotbelowmacron,
rfishhook,
rfishhookmiddletilde,
rhookturned,
rlonglegturned,
rmacronbelow,
rmiddletilde,
rtail,
rturned,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
shook,
smiddletilde,
t,
tbar,
tcaron,
tccurl,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdieresis,
tdotbelow,
tesh,
thook,
tmacronbelow,
tmiddletilde,
tretroflexhook,
ts,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
"upsilon-latin",
uring,
utilde,
v,
vhook,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
whook,
wturned,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
yturned,
z,
zacute,
zcaron,
zcurl,
zdotaccent,
zdotbelow,
zmacronbelow,
zmiddletilde,
zretroflexhook,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
f_f_i,
f_f_l,
fi,
fl,
Bsmall.sc,
Gsmall.sc,
Hsmall.sc,
Lsmall.sc,
Nsmall.sc,
Ysmall.sc,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adieresis.sc,
adieresismacron.sc,
adotbelow.sc,
agrave.sc,
ahookabove.sc,
amacron.sc,
aogonek.sc,
aring.sc,
atilde.sc,
aturned.sc,
aemacron.sc,
b.sc,
bdotbelow.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccircumflex.sc,
cdotaccent.sc,
d.sc,
dcaron.sc,
dcircumflexbelow.sc,
dcroat.sc,
ddotbelow.sc,
dmacronbelow.sc,
eth.sc,
e.sc,
eacute.sc,
ecaron.sc,
ecedilla.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
emacron.sc,
eogonek.sc,
etilde.sc,
eturned.sc,
f.sc,
g.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
gmacron.sc,
h.sc,
hbrevebelow.sc,
hcircumflex.sc,
hdotbelow.sc,
hmacronbelow.sc,
i.sc,
iacute.sc,
icaron.sc,
icircumflex.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
imacron.sc,
iogonek.sc,
itilde.sc,
j.sc,
jacute.sc,
jcircumflex.sc,
k.sc,
kcaron.sc,
kcommaaccent.sc,
kmacronbelow.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcircumflexbelow.sc,
lcommaaccent.sc,
ldotbelow.sc,
ldotbelowmacron.sc,
lmacronbelow.sc,
m.sc,
macute.sc,
mdotaccent.sc,
mdotbelow.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
nmacronbelow.sc,
ntilde.sc,
o.sc,
oacute.sc,
ocaron.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odieresis.sc,
odieresismacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
oopen.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
p.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdotbelowmacron.sc,
rmacronbelow.sc,
s.sc,
sacute.sc,
scaron.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotbelow.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcircumflexbelow.sc,
tcommaaccent.sc,
tdieresis.sc,
tdotbelow.sc,
tmacronbelow.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
udieresis.sc,
udieresisacute.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
umacron.sc,
uogonek.sc,
uring.sc,
utilde.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhookabove.sc,
ymacron.sc,
ytilde.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
zdotbelow.sc,
zmacronbelow.sc,
lcommaaccent.loclMAH.sc,
ncommaaccent.loclMAH.sc,
ordfeminine,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hmod,
jmod,
lmod,
nmod,
wmod,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gedescender-cy",
"Gestroke-cy",
"Gemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"EnGe-cy",
"Pemiddlehook-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Hahook-cy",
"Reversedze-cy",
"Elhook-cy",
"We-cy",
"De-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gedescender-cy",
"gestroke-cy",
"gemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"endescender-cy",
"enge-cy",
"pedescender-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"palochka-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"hahook-cy",
"reversedze-cy",
"elhook-cy",
"we-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"gje-cy.loclMKD",
"be-cy.loclSRBMKD",
"ge-cy.loclSRBMKD",
"de-cy.loclSRBMKD",
"pe-cy.loclSRBMKD",
"te-cy.loclSRBMKD",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
raiseddownarrowmod,
raiseduparrowmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onesuperior,
twosuperior,
threesuperior,
space,
anoteleia,
questiongreek,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
interrobang,
numbersign,
slash,
backslash,
twodotenleader,
undertie,
exclamdown.sc,
questiondown.sc,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"gammamod-latin",
florin,
"numeral-greek",
"lowernumeral-greek",
baht,
lowringmod,
tonebarextrahighmod,
tonebarextralowmod,
tonebarhighmod,
tonebarlowmod,
tonebarmidmod,
unaspiratedmod,
voicingmod,
rhotichookmod,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
hryvnia,
ruble,
rupeeIndian,
sheqel,
sterling,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
"brevecomb-cy",
tonos,
tonos.case,
dieresistonos,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
overlinecomb,
hookabovecomb,
verticallineabovecomb,
dblverticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
lefttackbelowcomb,
righttackbelowcomb,
leftangleabovecomb,
horncomb,
ringhalfleftbelowcomb,
uptackbelowcomb,
downtackbelowcomb,
plusbelowcomb,
minusbelowcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
bridgebelowcomb,
caronbelowcomb,
brevebelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
ringhalfrightbelowcomb,
bridgeinvertedbelowcomb,
squarebelowcomb,
seagullbelowcomb,
xabovecomb,
gbridgeabovecomb,
equalbelowcomb,
doubleverticallinebelowcomb,
leftanglebelowcomb,
nottildeabovecomb,
homotheticabovecomb,
almostequaltoabovecomb,
arrowleftrightbelowcomb,
arrowupbelowcomb,
doublebrevebelowcomb,
doublemacronbelowcomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acutegraveacutecomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
graveacutegravecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.sc,
dotaccentcomb.sc,
gravecomb.sc,
gravecomb_macroncomb.sc,
acutecomb.sc,
acutecomb_macroncomb.sc,
hungarumlautcomb.sc,
circumflexcomb.sc,
circumflexcomb_gravecomb.sc,
circumflexcomb_acutecomb.sc,
circumflexcomb_tildecomb.sc,
circumflexcomb_hookabovecomb.sc,
caroncomb.sc,
brevecomb.sc,
brevecomb_gravecomb.sc,
brevecomb_acutecomb.sc,
brevecomb_tildecomb.sc,
brevecomb_hookabovecomb.sc,
ringcomb.sc,
tildecomb.sc,
macroncomb.sc,
macroncomb_gravecomb.sc,
macroncomb_acutecomb.sc,
hookabovecomb.sc,
horncomb.sc,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresis.sc,
dotaccent.sc,
grave.sc,
acute.sc,
hungarumlaut.sc,
circumflex.sc,
caron.sc,
breve.sc,
ring.sc,
tilde.sc,
macron.sc,
apostrophemod,
colontriangularhalfmod,
colontriangularmod,
commareversedmod,
commaturnedmod,
glottalstopreversedmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
"_part-rounded-corner",
_part.curl,
_part.hook,
_part.horn,
"_part.horn-sm",
_corner.round
)